[Desktop Entry]
Version=1.0
Name=Eclipse
Comment=Integrated Development Environment
GenericName=Eclipse

Exec=/opt/eclipse/eclipse_4_2_2/eclipse
Terminal=false
Icon=/opt/eclipse/eclipse_4_2_2/icon.xpm
Type=Application
Categories=Development;IDE